.container{
  height:auto;
  width: auto;
  align-self: center;
  background-attachment: fixed;
  margin: auto;
}

.survey-box{
  justify-content: center;
  background-color: rgb(244, 244, 244);
  padding: 2px;
  width: auto;
  height: auto;
  box-shadow: 10px;
  text-shadow: 10px;
  margin: auto;
}

.img{
  width: 40%;
  height: 40%;
  margin: auto;
  align-self: center;
}
.img-container{
  height:auto;
  width: auto;
  align-self: center;
  margin: auto;
}

@media only screen and (max-width: 280px) {
  .survey-box{
    width: fit-content;
  }
  .img{
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 300px) {
  .survey-box{
    width: fit-content;
  }
  .img{
    width: 80%;
    height: 80%;
  }
}


/* @media only screen and (max-width: 912px) {
  .img{
    width: 60%;
    height: 60%;
  }
  .survey-box{
    width:auto;
  }
} */


